<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1> Vous voulez ?</h1>
    <a href="/salleform"> Ajouter une Salle</a><br/>
    <a href="/listeSalle"> Afficher la liste des Salles</a> <br/>
    <a href="/formEtu"> Ajouter un etudiant</a><br/>
    <a href="/listeEtudiant"> Afficher la liste des Etudiants</a><br/>
    <a href="/formProf"> Ajouter un Enseignant</a><br/>
    <a href="/listeProfesseurs"> Afficher la liste des Enseignants</a> <br/>  
    <a href="/coursform"> Ajouter Cours</a><br/>
    <a href="/signup"> Ajouter un Utilisateur</a><br/>
    <a href="/listeUsers"> Afficher la liste des utilisateurs</a><br/>     
</div>   
</body>
</html>