<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Vous voulez?</h1>
    <a href="/new">Ajouter un nouveau Produit</a>  <br/>  
    <a href="/productsList">Afficher la liste des produits</a>  <br/>  
    <a href="/addsalle">Ajouter une nouvelle Salle</a>  <br/>  
    <a href="/listeSalles">Afficher la liste des salles</a>  <br/>  
    <a href="/addetudiant">Ajouter un Etudiant</a>  <br/>  
    <a href="/listeEtudiants">Afficher la liste des etudiants</a>  <br/> 
    <a href="/newProf">Ajouter un Professeur</a>  <br/>  
    <a href="/professeurList">Afficher la liste des professeurs</a>  <br/>      
    <br/>    
</div>   
</body>
</html>